#pro-details
{
    display: flex;
    margin-top: 80px;
}
.pro-image
{
    width: 40%;
    margin: 40px;
    
}
.pro-image img
{
  width: 100%;
}
#MainImg
{
    width: 500px;
    height: 400px;
}
.small-imgs
{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.small-imgs-col
{
    cursor: pointer;
}

.single-pro-details
{
    width: 50%;
    padding-top: 30px;


}
.single-pro-details input{
    width: 50px;
    height: 30px;
    font-size: 16px;
    margin-right: 10px;
    outline: none;
}
.single-pro-details button
{
    background-color: teal;
    color: white;
}
.single-pro-details input,select:focus
{
    outline: none;
}
.desc-pro
{
    display: flex;
    gap: 10px;
    align-items: center;
}
.product-1
{
  padding: 40px 80px;
  text-align: center;
}
.product-container
{
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  flex-wrap: wrap;

}
.product
{
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  
}
.product:hover
{
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
}
.product img
{
  width: 100%;
  border-radius: 15px;
  height: 300px;
}
.product .des
{
  text-align: start;
  padding: 10px;
}
.product .des span
{
  color: #606063;
  font-size: 15px;
}
.product .des  h5
{
  color: black;
  font-size: 15px;
  margin-top: 2px;
 
}
.product .des .star
{
  margin-top: -25px;
  color: goldenrod;
  font-size: 12px;
  display: flex;
  align-items: center;

}
.product .des .star p
{
  font-size: 16px;
  font-weight: bolder;
}
.product .dess h4
{
  margin-top: 0px;
  color: teal;
  font-weight: 700;
  font-size: 16px;

}
.product .cart
{
  width: 40px;
   
    /* margin-top: -54px; */
    position: absolute;
    bottom: 35px;
    right: 15px;
    line-height: 40px;
    background: #e8f6ea;
    color: teal;
    border-radius: 50px;
    border: 1px solid teal;
    text-align: center;
}
.product:hover
{
  box-shadow: 1px 1px 20px teal;
}